
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="card light-green lighten-3">
              <p></p>
              <p></p>
              <h1 class="white-text text-darken-2" style="font-family:Verdana, Geneva, Tahoma, sans-serif" style="text-align:center">Bicing</h1>
              <p></p>
              <p></p>
              <p style="text-align:center">Consulta las bicis disponibles de cada estación en el area de Barcelona</p>
              <a href= "http://localhost:4200/api/station" class="waves-effect waves-light btn light-green">Inicio</a>
              <br>
              <br>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>