<h2>Add new Student</h2>
<form [formGroup]="newalumnoForm" (ngSubmit)="addAlumno()">

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name"/>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="alert alert-danger" *ngIf="newalumnoForm.get('name').hasError(validation.type) && (newalumnoForm.get('name').dirty || newalumnoForm.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="form-group">
    <label>Address</label>
    <input type="text" class="form-control" formControlName="address"/>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="alert alert-danger" *ngIf="newalumnoForm.get('address').hasError(validation.type) && (newalumnoForm.get('address').dirty || newalumnoForm.get('address').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="form-group">
    <label>Home phone</label>
    <input type="text" class="form-control" formControlName="homePhone"/>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="alert alert-danger" *ngIf="newalumnoForm.get('homePhone').hasError(validation.type) && (newalumnoForm.get('homePhone').dirty || newalumnoForm.get('homePhone').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="form-group">
    <label>Mobile phone</label>
    <input type="text" class="form-control" formControlName="mobilePhone"/>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="alert alert-danger" *ngIf="newalumnoForm.get('mobilePhone').hasError(validation.type) && (newalumnoForm.get('mobilePhone').dirty || newalumnoForm.get('mobilePhone').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit" [disabled]="newalumnoForm.invalid">Add</button>
    <a [routerLink]="['']" style="margin-left: 30px">Cancel</a>
  </div>

</form>
