<h2>Bikes</h2>
<table>
      <!--cabecera-->
      <thead>

      </thead>
      <!--cuerpo-->
      <tbody>
      <th>Name</th>
      <th>Kms</th>
      <th>Description</th>
      <th>Operations</th>
    </tbody>
    <tr *ngFor ="let bike of bikes; let i=index">
        <td>{{bike.name}}</td>
        <td>{{bike.Kms}}</td>
        <td>{{bike.description}}</td>
        <!--<td>{{station.bikes}}</td>-->
        <td>
          <a href="http://localhost:4200/api/bike/delete">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
</table>
