<ion-header>
    <ion-toolbar>
      <ion-title>Lista de Bicis</ion-title>
    </ion-toolbar>
  </ion-header>


  
  <ion-content>
    <div>
      <ion-searchbar [(ngModel)]="searchTerm" (change)="filterItems(searchTerm)" placeholder="Filter Schedules" (click)="refresh()"></ion-searchbar>
    </div>
    <ion-list-header>
      <ion-label>Nombre</ion-label>
      <ion-label>Kms</ion-label>
      <ion-label>Description</ion-label>
    </ion-list-header>
      <ion-list *ngFor="let bike of bikes">
          <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://lh3.googleusercontent.com/cbwsIFx-YNIdrr6bgx0AtPY9OI_IzM9O3mmSdugKP1AnTu-Q0me0bDxyDKq1Bm0KObg"></ion-img>
          </ion-avatar>
            <ion-label>{{ bike.name }}</ion-label>
            <ion-label>{{ bike.kms }}</ion-label>
            <ion-label>{{ bike.description }}</ion-label>
          </ion-item>
      </ion-list>
  </ion-content>
