<div class="card-panel">
  <h2 class="green-text text-light-green lighten-3">Bicis sin Asignar</h2>
  <table class="striped">
      <!--cabecera-->
      <thead>

      </thead>
      <!--cuerpo-->
      <tbody>
      <th>Name</th>
      <th>Kms</th>
      <th>Description</th>
      <th>Operations</th>
    </tbody>
    <tr *ngFor ="let bike of unbikes; let i=index">
        <td>{{bike.name}}</td>
        <td>{{bike.Kms}}</td>
        <td>{{bike.description}}</td>
        <!--<td>{{station.bikes}}</td>-->
        <td>
          <a (click)="deleteBike(bike._id)" class="waves-effect waves-light btn red darken-4">
            <i class="material-icons right">delete</i>delete</a>
          <a (click)="addBike(bike._id)" class="waves-effect waves-light btn light-green">
              <i class="material-icons">add</i>
            </a>
        </td>
      </tr>
</table>
</div>
