<h2>Subjects</h2>

<div *ngFor = "let asignatura of asignaturas; let i=index">
  <input type="hidden" value="{{asignatura.name}}">

  <h5>{{asignatura.name}}</h5>
  <p>
    <button class="btn btn-primary" [routerLink]="['studentDetail',asignatura._id]"><i class="fa fa-eye"></i>&nbsp;See Subject detail</button>
    <button class="btn btn-primary" [routerLink]="['']"><i class="fa fa-clone"></i> See user products</button>
    <button class="btn btn-danger" (click)="confirmDelete(asignatura._id, i)"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete </button>
  </p>
  <p></p>

</div>

<p><p>
  <button class="logout" [routerLink]="['']"><i class="fa fa-toggle-left" aria-hidden="true"></i> Back to main menu</button>
</p><p>
