<h2>Add new Station</h2>
<form [formGroup]="newstationForm" (ngSubmit)="addStation ()">

  <div class="form-group">
    <label>Name of the Station</label>
    <input type="text" class="form-control" formControlName="name"/>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="alert alert-danger" *ngIf="newstationForm.get('name').hasError(validation.type) && (newstationForm.get('name').dirty || newstationForm.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </div>


  <div class="form-group">
    <button class="btn btn-primary" type="submit" [disabled]="newstationForm.invalid">Add</button>
    <a [routerLink]="['']" style="margin-left: 30px">Cancel</a>
  </div>

</form>