<div class="card-panel">
    <h1 class="black-text text-darken-2">Bikes of Station</h1>
    <h3 class="green-text text-light-green lighten-3">Assigned Bikes</h3>
    <table class="striped">
          <!--cabecera-->
          <thead></thead>
          <!--cuerpo-->
          <tbody>
          <th>Name</th>
          <th>Kms</th>
          <th>Description</th>
          <th>Operations</th>
        </tbody>
        <tr *ngFor ="let bike of bikes2; let i=index">
            <td>{{bike.name}}</td>
            <td>{{bike.Kms}}</td>
            <td>{{bike.description}}</td>
            <!--<td>{{station.bikes}}</td>-->
            <td>
              <a (click)="deleteBike(bike._id)" class="waves-effect waves-light btn red darken-4">
                <i class="material-icons right">delete</i>delete</a>
            </td>
          </tr>
    </table>
    <h3 class="green-text text-light-green lighten-3">Unassigned Bikes</h3>
    <table class="striped">
          <!--cabecera-->
          <thead></thead>
          <!--cuerpo-->
          <tbody>
          <th>Name</th>
          <th>Kms</th>
          <th>Description</th>
          <th>Operations</th>
        </tbody>
        <tr *ngFor ="let bike of bikes3; let i=index">
            <td>{{bike.name}}</td>
            <td>{{bike.Kms}}</td>
            <td>{{bike.description}}</td>
            <!--<td>{{station.bikes}}</td>-->
            <td>
              <a (click)="addBike(bike._id)" class="waves-effect waves-light btn light-green">
                <i class="material-icons">add</i>
              </a>
            </td>
          </tr>
    </table>
</div>

